:root{
    --azul1:#134074;
    --azul2:#3a7ca5;
    --aculOscuro:#0b2545;
    --azulGris:#8DA9C4;
    --blanco:#fff;
    --fuente: 'Quicksand', sans-serif;
}

html{
    box-sizing: border-box;
}
*,*::after, *::before{
    box-sizing: inherit;
}
body{
    font-family: var(--fuente);
    background-color: var(--azulGris);
    display: flex;
    align-items: center;
    height: 100vh;
}

.contenedor{
    margin: auto;
    background-color: transparent;
    max-width: 120px;
    min-width: 95%;
}

.imagen-ingreso{
    background-image: url('../img/bg2.jpg');
    background-position: center center;
    background-size: cover;
    height: cover;   
    flex: 0 0 calc(60%);
    position: relative;
}
.imagen-ingreso::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to rigth,rgba(141,169,196,.5), rgba(19, 64, 116, .5));
}
@media(min-width:768){
    .imagen-ingreso{
        height: auto;
        background-position: right;
    }
}

@media(min-width:1200px){
    .imagen-ingreso{
        background-position: center;
    }
    }


@media(min-width:768px){
    .contenedor-ingreso {
        display: flex;
    }
}
.ingreso{
    padding: 50px;
    background-color: var(--azul2);
}

.texto-ingreso h2, .p, .input label, .texto-ingreso p{
color: var(--blanco);
}
.texto-ingreso h2{
    font-size: 45px;
    text-align: center;
}

.input label{
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin: 3px 0;
}
.input input{
    width: 100%;
    padding: 10px 16px;
    border-radius: 5px;
    outline: none;
}
.input input[type="submit"]{
    background-color: var(--azulGris);
    color: var(--blanco);
    font-size: 22px;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    transition: backgraund-color .3s ease-in-out;
}
.input input[type="submit"]:hover{
    cursor: pointer;
    background-color: var(--aculOscuro);
}