:root{
    --azul:#134074;
    --azulOscuro:#0b2545;
    --azulGris:#8DA9C4;
    --blanco:#fff;
    --fuente: 'Quicksand', sans-serif;
}



html{
    box-sizing: border-box;
}

*,*::after, *::before{
    box-sizing: inherit;
}

body{
    font-family: var(--fuente);
    /* background-color: var(--azulOscuro); */
    background-color: #bfdcff;
    /* display: flex; */
    align-items: center;
    background-image: url('../img/bg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.imagen-formulario{
    /* background-image: url('../img/bg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    /* height: auto;   
    flex: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.9; */

    
}


/* .imagen-formulario::before{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to rigth,rgba(141,169,196,.5), rgba(19, 64, 116, .5));
} */
@media(min-width:1200px){
    .imagen-formulario{
        background-position: center;
        margin: 0 auto;
    }
    }

@media(min-width:768){
    .imagen-formulario{
        height: auto;
        background-position: right;
        margin: 0 auto;
    }
}

@media(min-width:768px){
    .contenedor-formulario {
        /* display: flex; */
        margin: 0 auto;
    }
}
@media(min-width:414px){
    .formulario, .ingreso {
        /* display: flex; */
        margin: 0 auto;
        width: fit-content;
    }
}
.contenedor{
    margin: 0%;
    
}


.formulario, .ingreso{
    padding: 50px;
    background-color: rgba(19, 64, 116, .5);
    margin: 0 auto;
    max-width: 600px;
    min-width: 25rem;
    /* opacity: 0.9; */
    /* flex: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin-bottom: 50px;
}

.texto-formulario h2, .p, .input label, .texto-formulario p{
color: var(--blanco);
}
.texto-formulario h2{
    font-size: 45px;
    text-align: center;
}
.texto-formulario{
    font-size: 30px;
    text-align: center;
}

.input label{
    display: block;
    font-size: 20px; /* tamaño de letra de los titulos de los cuadros de texto */
    font-weight: bold; /*que la letra sea en negrilla*/
    margin: 3px 0; /*el margen o distangia entre el titulo y la caja */
}
.input input{
    width: 100%;
    padding: 10px 16px;
    border-radius: 5px; /* redondeado de bordes de los recuadros*/
    outline: none;
}
.input input[type="submit"], .input input[type="reset"]{
    background-color: var(--azulGris);
    color: var(--blanco);
    font-size: 22px;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    transition: backgraund-color .3s ease-in-out;
}
.input input[type="submit"]:hover, .input input[type="reset"]:hover{
    cursor: pointer;
    background-color: var(--azulOscuro);
}

/*#######################################################*/
/**/

/* .caja {
    margin:20px auto 40px auto;	
    border:1px solid #d9d9d9;
    height:30px;
    overflow: hidden;
    width: 230px;
    position:relative;
  } */
  select {
    background: var(--blanco);
    border: none;
    /* font-size: 16px; */
    height: 35px;
    padding: 10 px 16px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    
  }
  select:focus{ outline: none;}
  
  /* .caja::after{
   content:"\025be";
   display:table-cell;
   padding-top:7px;
   text-align:center;
   width:30px;
   height:30px;
   background-color:#d9d9d9;
   position:absolute;
   top:0;
   right:0px;	
   pointer-events: none;
   } */

/*#######################################################*/

/*Limpiar estilos bootstrap*/
.container,.pb-3{
    margin: 0%;
    padding: 0% !important;
    max-width: 100% !important;
    /* background-color: rgb(212, 57, 109) !important; */
}

.registro{
    background-image: url('../img/home.jpg');
}
.bg-ingreso{
    background-image: url('../img/bg2.jpg');;
}

/***************************************/
h2{
    color: #fff;
}
.input label{
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin: 3px 0;
}
.input input{
    width: 100%;
    padding: 10px 16px;
    outline: none;
}
.contenedor-perfil{
    width: 50%;
    padding: 50px;
    background-color: rgba(19, 64, 116, .5);
    margin: 0 auto;
    max-width: 600px;
    min-width: 25rem;
    /* opacity: 0.9; */
    /* flex: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin-bottom: 50px;

}
.btn-primary {
    margin-top: 16px;
}