:root {
    --azul: #134074;
    --azulOscuro: #0b2545;
    --azulGris: #8DA9C4;
    --blanco: #fff;
    --fuente: 'Quicksand', sans-serif;
}



html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: var(--fuente);
    /* background-color: var(--azulOscuro); */
    background-color: #bfdcff;
    /* display: flex; */
    align-items: center;
    background-image: url('../img/Home.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


@media(min-width:1200px) {
    .imagen-formulario {
        background-position: center;
        margin: 0 auto;
    }
}

@media(min-width:768) {
    .imagen-formulario {
        height: auto;
        background-position: right;
        margin: 0 auto;
    }
}

@media(min-width:768px) {
    .contenedor-formulario {
        /* display: flex; */
        margin: 0 auto;
    }
}

@media(min-width:414px) {

    .formulario,
    .ingreso {
        /* display: flex; */
        margin: 0 auto;
        width: fit-content;
    }
}

.contenedor {
    margin: 0%;

}


.formulario,
.ingreso {
    padding: 50px;
    background-color: rgba(19, 64, 116, .5);
    margin: 0 auto;
    max-width: 600px;
    min-width: 25rem;
    margin-bottom: 50px;
}

.texto-formulario,
.p,
.input label {
    color: var(--blanco);
}

.texto-formulario h2 {
    font-size: 45px;
    text-align: center;
}

.texto-formulario {
    font-size: 30px;
    text-align: center;
}

.input label {
    display: block;
    font-size: 20px;
    /* tamaño de letra de los titulos de los cuadros de texto */
    font-weight: bold;
    /*que la letra sea en negrilla*/
    margin: 3px 0;
    /*el margen o distangia entre el titulo y la caja */
}

.input input {
    width: 100%;
    padding: 10px 16px;
    border-radius: 5px;
    /* redondeado de bordes de los recuadros*/
    outline: none;
}

/* .input input[type="submit"],
.input input[type="reset"] */
.btn-andro {
    background-color: var(--azulGris);
    color: var(--blanco);
    font-size: 22px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: backgraund-color .3s ease-in-out;
}

.btn-andro:hover {
    cursor: pointer;
    background-color: var(--azulOscuro);
}

/*#######################################################*/
/**/

select {
    background: var(--blanco);
    border: none;
    height: 35px;
    padding: 10 px 16px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    padding-left: 10px

}

select:focus {
    outline: none;
}

/*#######################################################*/

/*Limpiar estilos bootstrap*/
.container,
.pb-3 {
    margin: 0%;
    padding: 0% !important;
    max-width: 100% !important;
    /* background-color: rgb(212, 57, 109) !important; */
}

/*##############################################################*/

.registro {
    background-image: url('../img/bg.jpg');
}

.bg-ingreso {
    background-image: url('../img/bg2.jpg');
    ;
}

.contenedor-perfil {
    width: 50%;
    padding: 50px;
    background-color: rgba(19, 64, 116, .5);
    margin: 0 auto;
    max-width: 600px;
    min-width: 25rem;
    margin-bottom: 50px;
}

.btn-primary {
    margin-top: 16px;
}

footer {
    background-color: #030f1d;
    padding: 10px;
    text-align: center;
    color: white;
}

article {
    padding: 10px;
    /* position: responsive; */
    height: 100%;
    background-color: rgba(19, 64, 116, .5);
    margin: 0 auto;
    max-width: 600px;
    min-width: 25rem;
    top: 50px;
    border-radius: 20px;
    padding: 1rem;
    margin: o auto;
}

.Encabezado {
    color: white;
    text-align: center;
}

.Encabezado h2 {
    margin: 10px;
    font-size: 40px;
    padding: 20px;
}

.Encabezado p {
    font-size: 21px;
}

.boton {
    position: center center;
    margin: 0 auto;
    /* redondeado de bordes de los recuadros*/
    outline: none;
}

.ImagenAndromeda {
    position: relative;
    display: flex;
    height: 1.5rem;
    margin: 0 1rem 0 1rem;

}


@media(min-width:300px) {
    .contenedor-formulario {
        display: flex;
    }
}

/* ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      } */

/* li.nav-item {
    display: inline;
    float: right;

} */

.navbar {
    background-color: #030f1d;
    border-bottom: 0;
}

ul li.nav-item {
    transition: all 0.4s;
}
ul li.nav-item:hover {
    background-color: rgba(19, 64, 116, .5);
}

li a {
    /* display: block; */
    color: white;
    /* text-align: center; */
    text-decoration: none;
}