@page
@model Proyecto.App.Frontend.Pages.DeleteModel
@{
}
<form class="formulario" method='post'>
    <div asp-validation-summary="All" class="text-danger"></div>
    <h1 class="texto-formulario">Borrar Usuario</h1>
    <p class="Encabezado">¿Está seguro de borrar al Usuario @Model.registro.nombre @Model.registro.apellidos?</p>

    <input type="submit" value="Borrar" class="btn btn-danger" />
</form>