@page
@model Proyecto.App.Frontend.Pages.PerfilModel
@{
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\normalize.css">
    <link rel="stylesheet" href="\css\estilos2.css">
    <title>Perfil</title>
</head>

<body>

    <div class="contenedor-perfil">
                        <div class="texto-formulario">
                    <h2>@Model.nombres.nombre</h2>
                </div>
        <form class="from-group" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="input">
                <div class="input">
                    <label asp-for="tipoDocumento.descripcion" for="tipodocumento">Tipo de documento</label>
                    <input asp-for="tipoDocumento.descripcion" type="text" id="tipodocumento">
                    <span asp-validation-for="tipoDocumento.descripcion" class="text-danger"></span>
                </div>
                <label asp-for="documento.descripcion" for="documento">Documento</label>
                <input asp-for="documento.descripcion" type="text">
                <span asp-validation-for="documento.descripcion" class="text-danger"></span>
            </div>
            <div class="input">
                <label asp-for="nombres.nombre" for="nombre">Nombre</label>
                <input asp-for="nombres.nombre" type="text">
                <span asp-validation-for="nombres.nombre" class="text-danger"></span>
            </div>
            <div class="input">
                <label asp-for="apellidos.apellido" for="primerapellido">Apellidos</label>
                <input asp-for="apellidos.apellido" type="text">
                <span asp-validation-for="apellidos.apellido" class="text-danger"></span>
            </div>
            <div class="input">
                <label asp-for="usuarios.Nacimiento" for="nacimiento">Fecha de nacimiento</label>
                <input asp-for="usuarios.Nacimiento" placeholder="Ingresa Fecha de nacimiento" type="date"
                    id="nacimiento" name="nacimiento">
                <span asp-validation-for="usuarios.Nacimiento" class="text-danger"></span>
            </div>
            <div class="input">
                <label asp-for="email.descripcion" for="email">Email</label>
                <input asp-for="email.descripcion" type="text">
                <span asp-validation-for="email.descripcion" class="text-danger"></span>
            </div>
            <div class="input">
                <label asp-for="rh.descripcion" for="rh">RH</label>
                <input asp-for="rh.descripcion" type="text">
                <span asp-validation-for="rh.descripcion" class="text-danger"></span>
            </div>
            <div class="input">
                <label asp-for="genero.descripcion" for="genero">Genero</label>
                <select asp-for="genero.descripcion" name="genero" type="text">
                    <option>Otro</option>
                    <option>Masculino</option>
                    <option>Femenino</option>
                    <span asp-validation-for="genero.descripcion" class="text-danger"></span>
                </select>
            </div>
            <div class="input">
                <label asp-for="direccion.direccion" for="direccion">Dirección</label>
                <input asp-for="direccion.direccion" type="text">
                <span asp-validation-for="direccion.direccion" class="text-danger"></span>
            </div>
            <div class="input">
                        <label asp-for="direccion.tipoVivienda" for="tipovivienda">Tipo Vivienda</label>
                        <select asp-for="direccion.tipoVivienda"  name="tipovivienda" type="text">
                            <option>Casa</option>
                            <option>Apartamento</option>
                            <span asp-validation-for="direccion.tipoVivienda"  class="text-danger"></span>
                        </select>
                    </div>
            <div class="input">
                <label asp-for="telefono.telefono" for="telefono">Telefono</label>
                <input asp-for="telefono.telefono" type="text">
                <span asp-validation-for="telefono.telefono" class="text-danger"></span>
            </div>
            <input type="submit" class="btn-andro" value="Guardar cambios">
        </form>
    </div>





</body>

</html>
