@page
@model Proyecto.App.Frontend.Pages.PerfilModel
@{
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\normalize.css">
    <link rel="stylesheet" href="\css\estilos2.css">
    <title>Perfil</title>
</head>

<body>

    <div class="contenedor-perfil">
    <h2>Nombre de usuario aquí</h2>
    <form class="from-group" method="post">
            <div class="input">
                <div class="input">
                    <label for="tipodocumento">Tipo de documento</label>
                    <!--combobox averiguar implementacion-->
                    <input  type="text" id="tipodocumento">
                </div>
                <label for="documento">Documento</label>
                <input  type="text">
            </div>
            <div class="input">
                <label for="nombre" >Nombre</label>
                <input  type="text">
            </div>
            <div class="input">
                <label for="primerapellido">Apellidos</label>
                <input  type="text">

            </div>
            <div class="input">
                <label for="email">Email</label>
                <input  type="text">
            </div>
            <div class="input">
                <label for="rh">RH</label>
                <input  type="text">
            </div>
            <div class="input">
                <label for="direccion">Dirección</label>
                <input  type="text">
            </div>
            <div class="input">
                <label for="telefono">Telefono</label>
                <input  type="text">
            </div>
        <button type="submit" class="btn btn-primary fas fa-address-book fa-lg">  Guardar cambios</button>
    </form>
    </div>





</body>

</html>
