@page
@model Proyecto.App.Frontend.Pages.RegistroModel
@{
}
    <div class="contenedor-formulario contenedor">
        <div class="imagen-formulario">
        <form class="formulario">
            <div class="texto-formulario">
                <h2> Formulario de registro</h2>
                <p>Ingresa tus datos aquí:</p>
            </div>
            <div class="input">
                <div class="input">
                    <label for="tipodocumento">Selecciona el tipo de documento</label>
                    <select name="tipodocumento">
                        <option>Cédula de ciudadanía</option>
                        <option>Cédula de extranjería</option>
                        <option>Tarjeta de identidad</option>
                    </select>
                </div>
                <label for="documento">Numero de documento</label>
                <input placeholder="Ingresa tu número documento" type="text" id="documento" name="documento">
            </div>
            <div class="input">
                <label for="nombre">Nombre</label>
                <input placeholder="Ingresa tu nombre" type="text" id="nombre" name="nombre">
            </div>
            <div class="input">
                <label for="primerapellido">Primer Apellido</label>
                <input placeholder="Ingresa tu primer apellido" type="text" id="primerapellido" name="primerapellido">
            </div>
            <div class="input">
                <label for="segundoapellido">Segundo Apellido</label>
                <input placeholder="Ingresa tu sengundo apellido" type="text" id="segundoapellido" name="segundoapellido">
            </div>
            <div class="input">
                <label for="email">Email</label>
                <input placeholder="Ingresa tu Emal" type="text" id="email" name="email">
            </div>
            <div class="input">
                <label for="rh">RH</label>
                <select name="rh">
                    <option>A+</option>
                    <option>O+</option>
                    <option>B+</option>
                    <option>AB+</option>
                    <option>A-</option>
                    <option>O-</option>
                    <option>B-</option>
                    <option>AB-</option>
                </select>
                <!--<input placeholder="Selecciona tu RH" type="text" id="rh">-->
            </div>
            <div class="input">
                <label for="direccion">Dirección</label>
                <input placeholder="Ingresa tu direccion" type="text" id="direccion" name="direccion">
            </div>
            <div class="input">
                <label for="telefono">Telefono</label>
                <input placeholder="Ingresa tu telefono" type="text" id="telefono" name="telefono">
            </div>
            <div class="input">
                <input type="submit" value="Agregar Usuario">
                <input type="reset" value="Limpiar formulario">
            </div>
        </form>
        </div>


    </div>