@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body id="home">

    @* <div class="text-center">
        <h1 class="display-4">Andromeda</h1>
        </div> *@
    <section>
        <article class="Encabezado">
            <h2>¡BIENVENIDOS!</h2>
            <h3>En grupo empresarial Andromeda estamos a su servicio!</h3>
            <p class="Parrafo"> Este proyecto pertenece al grupo Andromeda Grupo 11 del ciclo III
                del programa del ministerio de las TIC y el gobierno nacional <b>Mision TIC 2022</b> - Universidad de caldas
            </p>
            <button class="boton btn-andro">Mira nuestros proyectos aquí!
            </button>
        </article>
    </section>
</body>
