@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body id="home">

@* <div class="text-center">
    <h1 class="display-4">Andromeda</h1>
</div> *@
<section>
    <article>

        <h2 class="Enca">¡BIENVENIDOS! <br> En grupo empresarial Andromeda estamos a su servicio!</h2>

        <p class="Parrafo"> Este proyecto pertenece al grupo Andromeda Grupo 11 del ciclo III <br>

            del programa del ministerio de las TIC y el gobierno nacional <br> Mision TIC 2022.<br>
            Universidad de caldas
        </p>


        <button class="boton">Mira nuestros proyectos aquí!

        </button>

    </article>
</section>

</body>